.footer {
    position: relative;
    margin-top: 8vh;
    background: linear-gradient(90.14deg, #223B61 3.66%, rgba(63, 153, 249, 0.473958) 91.56%);
    height: 5vh;
    width: 100%;
    bottom: 0px;
  }