{% extends 'admin_area/admin_sidebar.html' %}
{% load static %}
{% block static %}<link rel="stylesheet" href= {% static 'css/admin_email.css' %}>
<link rel="stylesheet" href= {% static 'css/admin_dashboard.css' %} >>{% endblock static %}
{% block content %}
        <div class="center">
        <section>
        <main>
            <h1 class="title"><b>Welcome</b>, Admin</h1>
            <form action="" method="POST">
                {% csrf_token %}
                {{form.as_p}}
                <button type="submit" class="btn-1">Send Email</button>
            </form>
    </section></div>
    {% endblock content %}