{% extends 'admin_area/admin_sidebar.html' %}
{% load static %}
{% block title %} | blahS{% endblock title %}
{% block static %}<link rel="stylesheet" href= {% static 'css/admin_email.css' %}>
<link rel="stylesheet" href= {% static 'css/admin_dashboard.css' %} >>{% endblock static %}
{% block content %}
        <div class="center">
        <section>
        <main>
            <h1 class="title"><b>Welcome</b>, Admin</h1>
            <form action="" method="POST">
                {% csrf_token %}
                <div class="fields">
                    <label for="old_password">Old Password</label>
                    {{form.old_password}}
                    <label for="new_password1">New Password</label>
                {{form.new_password1}}
                <label for="new_password2"> Re enter New Password</label>
                {{form.new_password2}}
                </div>
                
<style>
    .fields{
        display: flex;
        flex-direction: column;
        width: 30rem;
        
    }
    .fields input{
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
    }
</style>
                <button type="submit" class="btn-1">Change Password</button>
            </form>
    </section></div>
    {% endblock content %}