{% extends "admin_area/admin_sidebar.html" %}
{% load static %}
{% block title %} | FAQ{% endblock title %}
{% block static %}
<link rel="stylesheet" href={% static 'css/admin_dashboard.css' %}>
<link rel="stylesheet" href={% static 'css/admin_email.css'%}>  
{% endblock static %}
{% block content %}
<!--MAIN-->
<div class="center">
    <section>
    <main>
        
        <h1 class="title"><b>Welcome</b>, Admin</h1>
        {% if success %}
        <p>
            <h1>{{success}}</h1>
        </p>
        {% endif %}
        <form action="" method="POST">
            {% csrf_token %}
            <input type="text" name="question" placeholder="Question....." id="" class="input-field"><br>
            <input type="text" name="answer" placeholder="Answer....." id="" class="input-field"><br>
            <button type="submit" name="email" class="btn-1">Create FAQ</button>
        </form>
</section>
</div>
{% endblock content %} 