{% extends "booking/navbar.html" %}
{% load static %}
{% block title %}Home Page{% endblock title %}
{% block static %}<link rel="stylesheet" href={% static 'css/home_page.css' %}>
<link rel="stylesheet" href="{% static 'css/footer.css' %}"> {% endblock static %}
{% block content %}
     <section style="background-image: url({% static 'image/boat.jpg' %});">
    
        <!--Boat-Home--> 
     
      <div class="container" id="intro">
        <div class="set">
        <h1>Boating Paradise</h1>
        <p>Boating Paradise's stunning backwaters with our eco-friendly boating company. Choose from sightseeing or romantic cruises. Our passionate team showcases natural beauty for a peaceful escape. Join us for a memorable adventure in tranquil Poovar. </p>
        <button type="button" class="btn btn-primary"> <a href="#aboutus" style="color: aliceblue;">Learn More</a></button>
      </div>
    </div>
  
     </section>

    <!--ABOUT-US-->    

    <article>
      <div class="about" id="aboutus">
        <h1>About Us</h1> 
        <h3>Experience the serenity of our tours
        </h3>
      </div>
      <div>
        <p>Our location, a popular tourist destination, is renowned for its natural beauty and cultural richness. Situated at a picturesque point, it is a hub of activity and gateway to the region. Our services offer reliable and enjoyable experiences, letting you appreciate the stunning views and vibrant local culture. We provide a comprehensive range of tours that cater to various interests, ensuring a memorable visit.
        </p>
      </div>      
    </article>
    
    <!--IMAGE-SECTION-->
    <div class="flex-section" id="gallery"> 
        <div class="image-grid">
	    	<img class="image-grid-col-2 image-grid-row-2" src="{% static 'image/img4.jpg' %}" alt="Boating-Images">
	    	<img src="{% static 'image/img2.jpeg' %}" alt="Boating-Images">
	    	<img src="{% static 'image/img3.jpg' %}" alt="Boating-Images">
	    	<img src="{% static 'image/img1.jpg' %}" alt="Boating-Images">
        <img src="{% static 'image/img13.jpg' %}" alt="Boating-Images">
	    </div>

      
        <div class="img-cont">
          <div class="top">
            <h2>Explore Our Beautiful Region</h2>
          </div>
          <p>
            
Explore the stunning backwaters of Poovar, a coastal village in southern India, with our eco-friendly boating company. Whether you prefer sightseeing or a romantic cruise, we offer options to suit every preference. Our passionate team showcases the area's natural beauty and provides a peaceful escape for our guests. Join us for a memorable adventure in the tranquil surroundings of Poovar.
          </p>
          <ul>We offer</ul>
           <li>- Priceless Experience</li>
           <li>- Custom Packages</li>
           <li>- Budget Friendly</li>
            <button type="button" class="btn btn-light bt-shadow" ><a href="{% url 'Gallery' %}" id="t-b">See More</a></button>
            <button type="button" class="btn btn-primary bt-shadow" ><a href="{% url 'service-page' %}#list" id="t-w">Book now</a></button>
        </div>    
    </div>

 <!--ADDRESS SECTION-->
  <div class="add-field">
    <div class="add-sec" id="contact">
        <div class="block">
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3947.7958353531985!2d77.07554789999999!3d8.3230759!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3b05a90c215fa469%3A0x2b6fc66679afe1bd!2sBund%20Rd%2C%20Poovar%2C%20Kerala!5e0!3m2!1sen!2sin!4v1675494349144!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
              <div class="content">
                <h1>CONTACT US</h1>
                <h4>Address</h4>
                <p>Main Street, Your City, Your State, Postal Code</p>
                <h4>Phone</h4>
                <p>+00-123456789</p>
                <h4>Email</h4>
                <p>contact@youremail.com</p>
              </div>
        </div>
    </div>
  </div>
  
     <!-- FAQ -->
   <div class="faq-sec" id="faq">
      <div class="flex">
       <div class="left">
           <h4>Frequently Asked Questions</h4> 
           <p>Do you have any inquiries about the Boating Paradice These frequently asked questions may help with your inquiry. If you still can't find the answer to your inquiry, you can email us.</p>
           {% if faqs|length >= 3 %}
           <button type="button" class="btn btn-primary"><a href="{% url 'Faq-learnmore' %}" class="faq-button">Learn More</a></button>
           {% endif %}
           
          </div>
        <div class="right">
          {% for faq in faqs %}
          <div class="faqs" style="width: 60vw; margin-left: 3vw;">
            <div class="head">
               <div class="heading">
                <h4>{{faq.question}}</h4>
               </div>
                
            </div>
            <div class="cont" style="padding-left: 1.5vw;">
              <p>{{faq.answer}}</p>
            </div>
          </div> 
          {% endfor %}
        
     </div>

        </div>

     </div>
    </div> 
    <footer class="footer"></footer>
    <script src={% static 'js/index.js' %}></script>
{% endblock content %}